CREATE TABLE IF NOT EXISTS pages (
  id SERIAL PRIMARY KEY,
  url TEXT UNIQUE NOT NULL,
  title TEXT,
  content TEXT,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS images (
  id SERIAL PRIMARY KEY,
  page_id INTEGER REFERENCES pages(id) ON DELETE CASCADE,
  original_url TEXT NOT NULL,
  storage_path TEXT NOT NULL,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  UNIQUE(page_id, original_url)
);

-- Enable Row Level Security
ALTER TABLE pages ENABLE ROW LEVEL SECURITY;
ALTER TABLE images ENABLE ROW LEVEL SECURITY;

-- Create policies for service role (admin access)
CREATE POLICY "Service role can do everything on pages" ON pages
  FOR ALL USING (true) WITH CHECK (true);

CREATE POLICY "Service role can do everything on images" ON images
  FOR ALL USING (true) WITH CHECK (true);

-- Create policies for public read access (allow anyone to read scraped data)
CREATE POLICY "Public can read pages" ON pages
  FOR SELECT USING (true);

CREATE POLICY "Public can read images" ON images
  FOR SELECT USING (true);
