{
  "servers": {
    "zeroheight-scraper": {
      "command": "npx",
      "args": [
        "mcp-remote",
        //"https://zeroheight-mcp.vercel.app/api/mcp",
        "http://localhost:3000/api/mcp",
        "--header",
        "Authorization: Bearer ${ZEROHEIGHT_MCP_ACCESS_TOKEN}"
      ],
      "env": {
        "ZEROHEIGHT_MCP_ACCESS_TOKEN": "your-local-api-key-here"
      }
    }
  }
}
